@model AdminDashboard.Models.ProductModel


@{
    ViewData["Title"] = "Edit";
}
@{
    var brans = ViewBag.brands;
    var product = ViewBag.Product;
    var categories = ViewBag.categories;
    var ProductColors = ViewBag.ProductColors;
}

<h1>Edit</h1>

<h4>ProductModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="@product.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameAr" class="control-label"></label>
                <input asp-for="NameAr" class="form-control" value="@product.NameAr" />
                <span asp-validation-for="NameAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" value="@product.Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionAr" class="control-label"></label>
                <input asp-for="DescriptionAr" class="form-control" value="@product.DescriptionAr" />
                <span asp-validation-for="DescriptionAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" value="@product.Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sizes" class="control-label"></label>
                <input asp-for="Sizes" class="form-control" value="@product.Sizes" />
                <span asp-validation-for="Sizes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" value="@product.Discount" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" value="@product.Quantity" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelNumber" class="control-label"></label>
                <input asp-for="ModelNumber" class="form-control" value="@product.ModelNumber" />
                <span asp-validation-for="ModelNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId">
                    @foreach (var cat in categories)
                    {
                        <option value="@cat.Id">@cat.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId">
                    @foreach (var p in brans)
                    {
                        <option value="@p.Id">@p.Name</option>
                    }
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath"></label>
                <input asp-for="ImagePath" type="file" class="form-control" />
                <span asp-validation-for="ImagePath"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images"></label>
                <input asp-for="Images" multiple type="file" class="form-control" />
                <span asp-validation-for="Images"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductColorsidsIds" class="control-label"></label>
                <select multiple asp-for="ProductColorsidsIds">
                    @foreach (var pc in ProductColors)
                    {
                        <option value="@pc.Id">@pc.Name</option>
                    }
                </select>
                <span asp-validation-for="ProductColorsidsIds" class="text-danger"></span>
            </div>

            <div class="form-group">
            @*    <a asp-action="productColors" asp-route-id="@item.Id">productColors</a>|
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>|
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>|
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>*@
              @*  <a asp-action="Edit" asp-action="ProductColorDetails" asp-controller="ProductColorController" asp-route-id="@product.Id">colors</a>
              *@
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
