@model Domain.Entities.Product

@{
    ViewData["Title"] = "product Colors ";
    var Prod = ViewBag.Prd;
}

@*<a asp-action="Create">Create New</a>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">

    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active">Color Product</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header bg-gradient-info">
                                <h3 class="card-title">Product Color</h3>
                            </div>
                            <div class="card-body">
                                <p>
                                    <a asp-action="CreateColorProduct" asp-route-id="@Prod.Id" class="btn btn-success">Add Colors</a>
                                </p>
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                       <tr> 
                                            <th>
                                                 Name color
                                             </th>
                                             <th>
                                                HexValue
                                             </th>
                                             <th>
                                                 Delete
                                             </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Prod.ProductColors)
                                       {
                                           <tr>
                                               <td>
                                                  @item.Name
                                               </td>
                                               <td>
                                                  @item.HexValue        
                                               </td>
                                               <td>
                                                    <a class="btn btn-danger" asp-action="DeleteColorProduct" asp-route-id="@Prod.Id" asp-route-Idcolor="">  Sure Delete Color</a>
                                                </td>
                                            </tr>
                                       }
                                   </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="float:right">Back to List</a>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header bg-gradient-info">
                                <h3 class="card-title">Product Images</h3>
                            </div>
                            <div class="card-body">
                                <p>
                                    <a asp-action="CreateImageeProduct" asp-route-id="@Prod.Id" class="btn btn-success">Add Images</a>
                                </p>
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                ID
                                            </th>
                                            <th>
                                                ImagePath
                                            </th>
                                            <th>
                                                ProductId
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Prod.ProductImages)
                                        {
                                            <tr>
                                                <td>
                                                    @item.Id
                                                </td>
                                                <td style="justify-content: center;">
                                                    <img src="@item.ImagePath" sp-for="ImagePath" class="form-control" id="exampleInputProductimage" style="width :60%;height : 200px" />
                                                </td>
                                                <td>
                                                    @item.ProductId
                                                </td>
                                                <td>
                                                    <a class="btn btn-danger" asp-action="DeleteImageProduct" asp-route-id="@Prod.Id" asp-route-Idcolor="">  Sure Delete Image</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="float:right">Back to List</a>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
</body>
</html>
