@model Domain.Entities.ProductColor

@{
    var colors = ViewBag.colors;
}
@{
    ViewData["Title"] = "productColors";
}

<h1>productColors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                HexValue
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in colors)
        {
        <tr>
            <td>
                    @item.Name
            </td>
            <td>
                    @item.HexValue
               
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
